.imgDiv{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.image{
    height: 250px;
    
}
.oops{
    display: flex;
    justify-content: center;
  margin: 20px 0px;
}
.btn-div{
    display: flex;
    justify-content: center;
   
}

.btn-div  button a {
    color: #fff;
    text-decoration: none;
}
@media(max-width:664px){
    .oops h1{
        font-size: 30px;
    }
    .image{
        height: 200px;
    }
}
@media(max-width:460px){
    .oops h1{
        font-size: 25px;
    }
    .image{
        height: 180px;
    }
}
@media(max-width:344px){
    .image{
        height: 160px;
    }
}