html{
    scroll-behavior: smooth;
}
p {
    font-family: Lato;
  }
  
  button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    background-color: #ff6e19;
    border-radius: 51px;
    padding: 0px 12px;
    
    margin-bottom: 40px;
  }
  .mat-icon{
      font-size: 40px;
      position: relative;
      right: 28%;
      margin: 6px 2px;
      color: #fff;
  }