.nothing{
    display: flex;
    justify-content: center;
}
.cart{
    display: flex;
    justify-content: center;
}
.cart img{
    height: 450px;
}
.kk{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40rem;
}
@media(max-width:593px){
    .cart img{
        height: 350px;
    }
    .kk{
        height: 34rem;
    }
}
@media(max-width:471px){
    .cart img{
        height: 300px;
    }
    .nothing h1{
        font-size: 30px;
    }
    .kk{
        height: 30rem;
    }
}
@media(max-width:380px){
    .cart img{
        height: 200px;
    }
    .kk{
        height: 24rem;
    }
    .nothing h1{
        font-size: 25px;
    }
}
.your{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.your h1{
    color: #ff6e19;
}
.imgs{
    height: 100px;
}
.total{
    display: flex;
    justify-content: center;
    margin: 12px 0px;
    display: inline-block;
    background-color:#ff6e19;
}
.total span{
    color: #fff;
}
.upper{
    display: flex;
    justify-content: center;
}
@media(max-width:580px){
    table{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    tbody{
        margin-left: 46px;
    }
    th{
        font-size: 13px;
    }
    td{
        font-size: 13px;
    }
    .imgs{
        height: 128px;
    }
    .del{
        height: 52px;
        width: 43px;
       }
}
@media(max-width:400px){
   th{
       font-size: 10px;
   }
   .imgs{
       height: 80px;
   }
   td{
       font-size: 13px;
   }
   tbody{
      margin-left: 36px;
   }
   thead{
       margin-left: 30px;
   }
 .table{
     align-items: baseline;
 }
   .del{
    height: 52px;
    width: 43px;
   }
}
@media(max-width:354px){
    thead{
        margin: 0px 0px;
    }
    tbody{
        margin: 0px 0px;
    }
}