<!-- <div *ngIf="emptyCart" class="kk">
    <div class="nothing">
        <h1>Nothing Added in Cart !</h1>
    </div>
    <div class="cart">
        <img src="../../../assets/images/empty-cart.png" alt="">
    </div>
</div> -->

<div >
<div class="your">
    <h1>Your Wishlist</h1>
</div>
<table class="table">
    <thead>
      <tr>
          <th scope="col">index</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let k of datas; index as i">
          <td>{{i+1}}</td>
        <td><img class="imgs" src="{{k.img}}" alt="" srcset=""></td>
        <td>{{k.name}}</td>
        <td>{{k.price}}</td>
        <button (click)="onClick(k.id)" class="del" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
        
      </tr>
      
    </tbody>
  </table>
  <div class="upper">
  <div class="total">
      <span>Total:{{total}}</span>
  </div>
</div>
<!-- <div>
  <button mat-raised-button color="primary">Place order</button>
</div> -->
</div>