.example-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33rem;
}
.mat-form-field{
    margin: -34px 0px;
}

.mat-icon{
    position: relative;
    top: 52%;
    right: 680%;
    color: #0101a9;
}

.mat-form-field-infix.ng-touched.ng-invalid
{
    border: 2px solid red;
    
}
.mat-form-field {
    width: 300px;
}
.btn{
    padding: 3px 27px;
}
@media(max-width:400px){
    .mat-form-field{
        width: 200px;
    }
    .mat-icon
    {
        right: 474%;
    }
}