<form (ngSubmit)="onSubmit(myForm,uname)" #myForm="ngForm" class="example-form">
    <div class="user">
        <mat-icon>account_circle</mat-icon>
    </div>
    <mat-form-field  class="example-full-width">

        <input #uname ngModel minlength="3" maxlength="15" required name="username" matInput placeholder="Enter Your Username">
    </mat-form-field>
    <br><br>
    <div class="password">
        <mat-icon>password</mat-icon>
    </div>
    <mat-form-field class="example-full-width">

        <input minlength="8" type="password" name="password" ngModel required matInput placeholder="Enter Your Password">
    </mat-form-field>
    <br><br>
    <button routerLink="/view-all-item" (click)="onClick(uname)" class="btn" [disabled]="myForm.invalid" mat-raised-button color="primary">Login</button>

</form>