<div class="mains">
    <div class="sec-div">
        <div class="are">
            <span>Are you hungry?</span>
        </div>
        <div class="wait">
            <h1>Don't Wait !</h1>
        </div>
        <div class="order-btn">
            <a><button>Order Now</button></a>
        </div>

    </div>

    <div class="imgDiv">
        <img src="../../../assets/images/hero-pizza.png" alt="" srcset="">
    </div>

</div>
<div>
    <div class="all">
        <h1 id="pizza">All Pizzas</h1>
    </div>
    <div>
        <div style="display: none;">
        <mat-form-field >
            <mat-label>Message</mat-label>
            <input  matInput value="Item has been added in cart" #message>
            <button routerLink="/m}y-cart" ></button>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Action</mat-label>
            <input matInput  value='Go to cart' #action>
          </mat-form-field>
        </div>
    </div>
    <div class="main">
    <div class="col-lg-9 ">
        <div class="row">

            <div class="col-lg-6 col-md-6 mb-4 " *ngFor="let products of pizzas">
                <div class="card h-100 main-div">
                    <a routerLink="/view-item/{{products.id}}"><img #img class="card-img-top" src="{{products.img}}" alt="error loading image"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a  routerLink="/view-item/{{products.id}}" #name>{{products.pizzaName}}</a>

                        </h4>
                        <h5 #price>{{products.price}}</h5>
                        <h6>Size:{{products.size}}</h6>
                        <p class="card-text">{{products.description}}</p>
                        <div *ngIf="addBtn" class="add-btn">
                            <button  (click)="onClick(name,price,img,message.value, action.value)" mat-fab color="primary" aria-label="Example icon button with a add icon">
                                <mat-icon>add</mat-icon>
                              </button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{products.rating}}star</small>
                    </div>
                </div>
            </div>
</div>
        </div>






       
          
          